<html>
<head>
    <title>Clue-Less Home</title>
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/">404 Name Not Found</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown order-1">
                    <a href="" class="nav-link active" data-toggle="dropdown">Login</a>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">
                            <form class="form" role="form" action="/login" method="post">
                                <div class="form-group">
                                    <input id="usernameInputLogin" name="username" placeholder="Username"
                                           class="form-control form-control-sm"
                                           type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInputLogin" name="password" placeholder="Password"
                                           class="form-control form-control-sm" type="password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot
                                        password?</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown order-2">
                    <a href="" class="nav-link" data-toggle="dropdown">Sign Up</a>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">
                            <form class="form" role="form" action="/signup" method="post">
                                <div class="form-group">
                                    <input id="usernameInputSignUp" name="username" placeholder="Username"
                                           class="form-control form-control-sm"
                                           type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input id="emailInputSignUp" name="email" placeholder="Email"
                                           class="form-control form-control-sm" type="email" required="">
                                </div>
                                <div class="form-group">
                                    <input id="passwordInputSignUp" name="password" placeholder="Password"
                                           class="form-control form-control-sm" type="password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot password</h3>
                <button type="button" class="close font-weight-light" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Reset your password...</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<h1 id="banner">Can you figure out who killed Mr. Boddy?</h1>
</body>
</html>