html,
body {
    background-color: #f5f5f5;
}

#content {
    margin-top: 90px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #f5f5f5;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 600px;
    width: 600px;
    z-index: 2;
    opacity: 1;
    background: rgba(39, 42, 43, 0.8);
    transition: opacity 200ms ease-in-out;
}

#banner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    width: 380px;
    padding: 15px 35px 15px;
    margin: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.login-form input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-form #loginMessage {
    color: red;
    margin-top: 15px;
}

#canvasWrapper {
    width: 600px;
    height: 600px;
}

canvas {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    background-image: url("board.png");
    background-size: contain;
}

#chatContainer {
    width: 400px;
    height: 600px;
    border: 5px solid black;
    border-right-width: 0;
    margin-left: 15px;
}

#chatMessagesWrapper {
    width: 400px;
    height: 525px;
    overflow: auto;
    word-break: break-all;
}

#chatMessages {
    padding: 10px;
}

#chatText {
    margin-left: 5px;
    margin-right: 5px;
    resize: none;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

#chatSend {
    display: inline-block;
    vertical-align: middle;
}

#usernamesWrapper {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-bottom-width: 0;
}

#usernamesWrapper p {
    padding: 10px;
}

#usernamesAndGameButtonsContainer {
    width: 200px;
    height: 600px;
}

#timerWrapper {
    width: 200px;
    height: 100px;
    border: 5px solid black;
    border-bottom-width: 0;
    vertical-align: middle;
    font-size: 30px;
}



#gameButtonsWrapper {
    width: 200px;
    height: 300px;
    border: 5px solid black;
    display: table-cell;
    vertical-align: middle;
}

.action {
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: white;
    color:  black;
    border: 5px solid blue;
    margin-bottom: 5px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    margin: 10px;
}

[type=radio]:checked + img {
    outline: 2px solid black;
    opacity: 0.5;
}

[type=radio]:hover + img {
    opacity: 0.3;
}

[type=radio]:disabled + img {
    opacity: 0.3;
}